<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Gogle fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Kalam&family=Sacramento&display=swap" rel="stylesheet">
    <!-- CSS project file -->
    <link rel="stylesheet" href="style/style.css">
    <title>CV Philipp \o/ </title>
  </head>
  <body>

    <header>
      <nav class="navbar active fixed-top navbar-expand-sm navbar-light navbar-cor">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/mural">Mural</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projeto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#modal-contato" href="#">Contato</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section>
        <div class="row fundo-topo">

            <div class="container container-foto">
              <img class="container imgProfile d-flex justify-content-center rounded-circle"  src="pic.jpg">
              <h1 class="container text-center nomeProfile">Philipp Schwambach</h1>  
               <div class="container d-flex justify-content-center container-icones">
                 <a href="http://linkedin.com/in/philippschwambach"><img src="linkedin.png" class="icone-container-foto"></a>
                 <a href="mailto:codetophilipp@gmail.com"><img src="gmail.png" class="icone-container-foto"></a>
                 <a href="https://github.com/codetophilipp"><img src="git.png" class="icone-container-foto"></a>
                <a href="PHILIPP_SCHWAMBACH_CV_SP.pdf"><button type="button" class="btn button-cv">Download CV</button></a>
              </div>
            </div>
        </div>
            <div class="container container-apresentacao">
              <h3>Apresentacao</h3>
                <p>Ola, sou programador Java em busca de oportunidades de trabalho ou projetos nas localidades de Sao Paulo/SP ou Porto Alegre/RS. Para melhor utilizacao do site, alem de disponibiliar meu curriculo e a descricao do projeto detalhado (link aqui) decidi fazer uma plataforma interativa.</p>
                <p>Sendo assim logo abaixo descrevo alguns skills e os cursos mais recentes realizados, ao fim da pagina ha um formulario onde recrutadores ou colegas de TI podem registrar sugestoes, dicas de mercado ou mesmo dar um "oi" registrando que passou por aqui! :)</p>
            </div>
            <div class="container-sm container-skills">
              <div class="row">
            <table class="table col-7 tabelaSkills table-responsive-sm table-hover table-striped table-borderless text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Skills & tools</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">*</th>
                  <td>Java</td>
                  <td>Spring Boot</td>
                  <td>Spring Data JPA</td>
                </tr>
                <tr>
                  <th scope="row">*</th>
                  <td>Spring Web MVC</td>
                  <td>REST</td>
                  <td>Microserviços</td>
                </tr>
                <tr>
                  <th scope="row">*</th>
                  <td>Postman</td>
                  <td>JSON</td>
                  <td>Swagger</td>
                </tr>
                <tr>
                  <th scope="row">*</th>
                  <td>JUnit</td>
                  <td>Maven</td>
                  <td>Hibernate</td>
                </tr>
                <tr>
                  <th scope="row">*</th>
                  <td>JSP</td>
                  <td>HTML</td>
                  <td>CSS</td>
                </tr>
                <tr>
                  <th scope="row">*</th>
                  <td>Bootstrap</td>
                  <td>SQL</td>
                  <td>Android</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless col-3 table-responsive-md-sm tabela-gif-gato"> 
              <tr>
                <td>
                  <iframe src="https://giphy.com/embed/LmNwrBhejkK9EFP504" width="230" height="230" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/memecandy-LmNwrBhejkK9EFP504"></a></p>
                </td>
            </tr>
            </table>
            </div>
            </div>
            <div class="container container-cursos">
              <table class="table table-borderless col-12">
                <thead>
                  <th> Cursos e certificados </th>
                </thead>
              <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card box-cursos">
                        <div class="card-body">
                          <h5 class="card-title">HTML5 | CSS3 | Boostrap4 | Git e Github</h5>
                          <p class="card-text">Alura 06/2020 ( Online - 46 horas )</p>
                          <a href="https://cursos.alura.com.br/user/CODETOPHILIPP/fullCertificate/b8f8f2e8c3c66b4c242565986d8ab156" class="btn button-cursos">Certificado</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card box-cursos">
                        <div class="card-body">
                          <h5 class="card-title">Master Microservices with Spring Boot</h5>
                          <p class="card-text">Udemy 03/2020 ( Online - 11 horas)</p>
                          <a href="https://www.udemy.com/certificate/UC-751d7bf0-a3af-41de-a6ee-f07e65c958ad/" class="btn button-cursos">Certificado</a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="card box-cursos">
                            <div class="card-body">
                              <h5 class="card-title">Desenvolvendo com Spring e Testes</h5>
                              <p class="card-text">Caelum 02/2020 ( Presencial - 32 horas )</p>
                              <a href="https://sistema.caelum.com.br/alumni/curso-certificate?alunoCursoAlumni.token=cGhpbGlwcHBvYUBob3RtYWlsLmNvbQ==&alunoCursoAlumni.course=FJ-22&alunoCursoAlumni.startDate=11/01/2020" class="btn button-cursos">Certificado</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card box-cursos">
                            <div class="card-body">
                              <h5 class="card-title">Java para Desenvolvimento Web</h5>
                              <p class="card-text">Caelum 12/2019 ( Presencial - 40 horas )</p>
                              <a href="https://sistema.caelum.com.br/alumni/curso-certificate?alunoCursoAlumni.token=cGhpbGlwcHBvYUBob3RtYWlsLmNvbQ==&alunoCursoAlumni.course=FJ-21&alunoCursoAlumni.startDate=09/11/2019" class="btn button-cursos">Certificado</a>
                            </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                      <tr>
                          <td>
                            <div class="row">
                          <div class="col-sm-6">
                            <div class="card box-cursos">
                              <div class="card-body">
                                <h5 class="card-title">SQL</h5>
                                <p class="card-text">Impacta Tecnologia 08/2019 ( Presencial - 40 horas )</p>
                                <a class="btn button-cursos disabled">Certificado</a>
                              </div>
                            </div>
                          </div>
                        <div class="col-sm-6">
                          <div class="card box-cursos">
                            <div class="card-body">
                             <h5 class="card-title">Java Developer</h5>
                             <p class="card-text">TargetTrust 10/2018 ( Presencial - 96 horas )</p>
                             <a class="btn button-cursos disabled">Certificado</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
             </table>
           </div>
      </section>
    </main>

    <footer>
      <div class="footer-copyright text-center py-3 footer">© 2020 Copyright: PHILIPP SCHWAMBACH
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="modal-contato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <dialog class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Entre em contato</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </header>
          <main class="modal-body">
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Nome Completo</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite seu nome">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Endereço de Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@email.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Deixe seu comentário</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Insira aqui seu comentário"></textarea>
          </div>
          <div class="form-group">
            <table>
              <tr>
                <td><img src="whats.png"><label>(11) 9 8904-5454</label></td>
                <td><img src="whats.png"><label>(51) 9 9322-8051</label></td>
              </tr>
              <tr>
                <td><a href="http://linkedin.com/in/philippschwambach"><img src="linkedin.png" class="icone-container-foto"></a>
                <a href="mailto:codetophilipp@gmail.com"><img src="gmail.png" class="icone-container-foto"></a>
                <a href="https://github.com/codetophilipp"><img src="git.png" class="icone-container-foto"></a></td>
              </tr>
            </table>
          </div>
        </form>
          </main>
          <footer class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn botao-cor-especial">Enviar</button>
          </footer>
        </dialog>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
